@media all and (min-width: 750px){
    .m{display: none;}
    .tab{display: none;}
    .pc{display: block;}


#wrapper{
    padding: unset;
    width: 1092px;
}
header{}
header .wrap .con .box{
    font-size: 14px;
}
header .wrap{
    padding: unset;
}
header .wrap .banner{
    margin: 250px 0px;
}
header .wrap .banner .box1{
    font-size: 60px;
}
header .wrap .banner .box2{
    font-size: 36px;
}
header .wrap .banner .box3 a{
    font-size: 16px;
    padding: 10px 20px;
    display: inline-block;
}
.my h2{
    font-size: 20px;
    margin-bottom: 20px;
}
.my{
    margin-bottom: 30px;
}
.my .con{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 14px;
}
.my .con div{
    width: 300px;
}
.my .con .name{
    grid-row: 1 / 3 span;
    grid-column: 1 / 2 span;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    margin: 0 auto;
    width: 150px;
}
.my .con .edu{
    grid-column: 3 /4 span;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    margin-bottom: 20px;
    margin: 0 auto;
}
.my .con .edu .box:last-child{
    margin-bottom: 30px;
}
.my .con .award{
    grid-column: 3 / 4 span;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    margin: 0 auto;
}
.my .con .award .box:last-child{
    margin-bottom: 30px;
}
.my .con .stack{
    grid-column: 3 / 4 span;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    margin: 0 auto;
}
.my .con .stack .box:first-child{
    margin-bottom: 10px;
}
.project{
    margin-bottom: 30px;
}
.project h2{
    font-size: 20px;
    margin-bottom: 20px;
}
.project .con .box .con{
    padding: 20px;
}
.project .con .box .con .txt ~ div{
    font-size: 18px;
}
.project .con .box .con .txt{
    font-size: 24px;
}
.project .con .box .con .btns{
    font-size: 14px;
}
.project .con .box .con .btns .btn{
    width: unset;
}
.project .con .box .con .btns div a{
    padding: 10px 20px;
}
.footer .name{
    font-size: 30px;
}
}